.brand1{
  width: 120px;
  height: 20px;
}
.brand2{
  width: 100px;
  height: 20px;
}
.brand3{
  width: 120px;
  height: 20px;
}
.brand4{
  width: 100px;
  height: 20px;
}
.brand5{
  width: 120px;
  height: 20px;
}